
body {
    background-image: url(../image/background-pic.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Ubuntu,sans-serif;
}

.header {
    background: rgba(0, 0, 0, 25%);
    filter: drop-shadow(0px 4px 4px black );
    margin-bottom: 112px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    color: #000000;
}

.logo  {
    color:  #FFFFFF;
    max-width: 157px;
    font-weight: 700;
    padding-left: 80px;
}

.list {
    display: flex;
    align-items: center;
    color:  #FFFFFF;
}

.list-item {
    color:  #FFFFFF;
}

.list-item-calendar {
    padding: 0 12px 0 25px;
}

.list-item-envelope {
    padding: 0 12px 0 12px;
}

.list-item-compass {
    padding: 0 25px 0 12px;
    /*padding-left: 12px;*/
    /*padding-right: 25px;*/
}

.list-item-welcome {
    color:  #FFFFFF;
    padding-left: 27px;
    border-left: 1px solid white;
}

.list-item-sign {
    height: 14px;
    padding-right: 80px;
    color:  #FFFFFF;
}

.header:hover {
    background-color: #000000;
    opacity: 41%;
}

.header:hover .logo  {
    color: #01813F;
}

.header:hover .log-in {
    color: #01813F;
}

.header:hover svg {
    fill:#01813F
} 

.container {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}

.main-page {
    width: 444px;
    background-color: #FFFFFF;
    margin-bottom: 72px;
}

.action-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.first-line-wrapper {
    display: inline-block;
    margin: 30px 0 16px 0;
    text-align: start;
}

.small-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: 36px;
}

.Sign {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
    margin-right: 217px;
}

.Log  {
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}

.Log:hover {
    color: #01813F;
    text-decoration-line: underline;
}

.media-button {
    margin-bottom: 32px;
}

.facebook {
    display: inline-block;
    text-align: start;
    color: #ffffff;
    background-color: #305DB8;
    margin-right: 2px;
    width: 160px;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
}

.facebook > svg {
    border-right: 1px solid #0A162F;
    padding-right: 15px;
    margin-right: 18px;
}

.facebook:hover {
    background-color: #022263;
}

.google {
    display: inline-block;
    text-align: start;
    color: #ffffff;
    background-color: #DF4A32;
    margin-right: 2px;
    width: 160px;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
}

.google > svg {
    border-right: 1px solid #2B0D09;
    padding-right: 7px;
    margin-right: 30px;
}

.google:hover {
    background-color: #AB1F09;
}

.logo-svg-facebook {
    display: inline-block;
    border-right: 1px solid #0e44b8;
    margin-right: 10px;
    padding-right: 10px;
}

.logo-svg-google {
    display: inline-block;
    border-right: 1px solid #DF4A32;
    margin-right: 10px;
    padding-right: 10px;
}

.main-page-choice {
    margin-bottom: 11px;
    color: #848484;
}

.choice {
    text-align: center;
}

.line {
    display: inline-block;
    width: 150px;
    margin-bottom: 4px;
    color: #F2F2F2;
    opacity: 20%;
}

.line1 {
    display: inline-block;
    width: 150px;
    margin-bottom: 4px;
    color: #F2F2F2;
    opacity: 20%;
}
/*==================*/

 .input {
    width: 300px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px #F2F2F2;
    padding-left: 20px;
    opacity: 60%;
    margin-bottom: 16px;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: black;
}

input:hover, .input:focus {
    outline: none;
    box-shadow: 0 3px 8px 0 #000000;
}

.check-button {
    width: 20px;
    height: 20px;
    border: solid 1px #BEBEBE;
    opacity: 60%;
}
.check-label {
    position: relative;
    right: 25px;
    border: solid 1px #f2f2f2;
    font-weight: 900;
}

#check {
    display: none;
}

#check ~ label::before {
    content: '\2713';
    text-align: center;
    color: white;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 2px inset #F2F2F2;
    border-radius: 4px;
    display: inline-block;
}
#check:checked ~ label::before {
    color: #3CB878;
}
#check:checked ~ span {
    color: #01813F;
    text-decoration-line: underline;
}

.check-button-text {
    color: #3CB878CC;
}

.register-button {
    width: 324px;
    height: 46px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 4px;
    background-color: #3CB878CC;
    margin: 20px 0 40px 0;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 16px;
    border: none;
}

.register-button:hover {
    background-color: #01813F;
}






